button{
    background-color: dodgerblue;
    color: white;
    font-size: 1.5rem;
    padding: 1.5rem 4rem ;
    margin: 2rem;
    cursor: pointer;
    border-radius: 2rem;
}
button:hover{
    background-color: rgba(30, 143, 255, 0.638);
}
